.header {
	@extend .cf;
	min-height: 50px;
	z-index: 1;
	color: #fff;
	padding: 75px 0;
	//@include bg('../img/header.jpg', center center, no-repeat, cover);
	&-covering{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		z-index: -1;
	}
	@include resp-min(md){
		padding: 125px 0;
	}
	@include resp-min(lg){
		padding: 250px 0;
	}
	@include resp-max(md){
		padding-top: 50px;
		padding-bottom: 50px;
	}
}