@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-size: 18px;
  line-height: 1.42857143;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

.robotoSlab, body {
  font-family: 'Roboto Slab', serif;
}

.rubik, .vnav-menu li a {
  font-family: 'Rubik One', sans-serif;
}

.regular, body, .vmain-form input {
  font-weight: 400;
}

.thin, .h2 {
  font-weight: 100;
}

.light, .footer a, .vtitle, .about-title, .vmodal-transparent .vmodal-close {
  font-weight: 300;
}

.bold, .vnav-menu-btn .text, .vbtn, .h1, .vloop-details, .blog-post-number, .vmodal-title {
  font-weight: 700;
}

/* ===================== 
Start: COLUMNS      
======================== */
.vak-xs-1 {
  width: 8.33333%;
}

.vak-xs-2 {
  width: 16.66667%;
}

.vak-xs-3 {
  width: 25%;
}

.vak-xs-4 {
  width: 33.33333%;
}

.vak-xs-5 {
  width: 41.66667%;
}

.vak-xs-6 {
  width: 50%;
}

.vak-xs-7 {
  width: 58.33333%;
}

.vak-xs-8 {
  width: 66.66667%;
}

.vak-xs-9 {
  width: 75%;
}

.vak-xs-10 {
  width: 83.33333%;
}

.vak-xs-11 {
  width: 91.66667%;
}

.vak-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .vak-sm-1 {
    width: 8.33333%;
  }
  .vak-sm-2 {
    width: 16.66667%;
  }
  .vak-sm-3 {
    width: 25%;
  }
  .vak-sm-4 {
    width: 33.33333%;
  }
  .vak-sm-5 {
    width: 41.66667%;
  }
  .vak-sm-6 {
    width: 50%;
  }
  .vak-sm-7 {
    width: 58.33333%;
  }
  .vak-sm-8 {
    width: 66.66667%;
  }
  .vak-sm-9 {
    width: 75%;
  }
  .vak-sm-10 {
    width: 83.33333%;
  }
  .vak-sm-11 {
    width: 91.66667%;
  }
  .vak-sm-12 {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .vak-md-1 {
    width: 8.33333%;
  }
  .vak-md-2 {
    width: 16.66667%;
  }
  .vak-md-3 {
    width: 25%;
  }
  .vak-md-4 {
    width: 33.33333%;
  }
  .vak-md-5 {
    width: 41.66667%;
  }
  .vak-md-6 {
    width: 50%;
  }
  .vak-md-7 {
    width: 58.33333%;
  }
  .vak-md-8 {
    width: 66.66667%;
  }
  .vak-md-9 {
    width: 75%;
  }
  .vak-md-10 {
    width: 83.33333%;
  }
  .vak-md-11 {
    width: 91.66667%;
  }
  .vak-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .vak-lg-1 {
    width: 8.33333%;
  }
  .vak-lg-2 {
    width: 16.66667%;
  }
  .vak-lg-3 {
    width: 25%;
  }
  .vak-lg-4 {
    width: 33.33333%;
  }
  .vak-lg-5 {
    width: 41.66667%;
  }
  .vak-lg-6 {
    width: 50%;
  }
  .vak-lg-7 {
    width: 58.33333%;
  }
  .vak-lg-8 {
    width: 66.66667%;
  }
  .vak-lg-9 {
    width: 75%;
  }
  .vak-lg-10 {
    width: 83.33333%;
  }
  .vak-lg-11 {
    width: 91.66667%;
  }
  .vak-lg-12 {
    width: 100%;
  }
}

/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.vhidden,
.vvisible-bigLg,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs,
.vvisible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .vvisible-exs {
    display: block !important;
  }
}

/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, [class*="vak"], .vcontainer, .vcontainer-small, .cf, .vrow, .footer, .vtabs-wrap, .vtabs-links, .vtabs-content, .vsection, .vnav-menu li a, .header, .vbtn, .list li, .vtitle-inner, .vline, .vline-big, .vloading-mask, .vloop, .social-block a, .vtabs-list a {
  position: relative;
}

[class*="vak"], .vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small, .vmain-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after, .cf:before, .vrow:before, .vcontainer:before, .vcontainer-small:before, .footer:before, .vtabs-wrap:before, .vtabs-links:before, .vtabs-content:before {
  content: "";
  display: table;
}

.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after {
  clear: both;
}

.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="vak"] {
  float: left;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

@media (min-width: 1025px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fluid {
  width: 100%;
}

@media (min-width: 1200px) and (min-height: 600px) {
  .fluid {
    height: 100vh;
  }
  .fluid-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.vpull-left {
  float: left;
}

.vpull-right {
  float: right;
}

.block-inline, img, .footer-b, .vbtn, .vmain-form input {
  display: inline-block;
}

.vnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  background-color: #66fcf1;
  border: 10px solid black;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all cubic-bezier(0.63, -0.43, 0.49, 1.51) 0.5s;
  transition: all cubic-bezier(0.63, -0.43, 0.49, 1.51) 0.5s;
}

.vnav-menu, .vnav-menu-btn, .vnav-menu-btn:after, .vnav-menu-btn .lines span, .vnav-menu-btn .text {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.vnav-open .vnav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.vnav-menu, .vnav-inf {
  width: 100%;
  text-align: center;
}

.vnav-menu li {
  display: block;
  padding: 15px;
}

.vnav-menu li a {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: bold;
}

.vnav-menu li a:before, .vnav-menu li a:after {
  background-color: #4c4c4c;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.vnav-menu li a:hover, .vnav-menu li a.active {
  color: #039389;
}

@media (max-width: 1024px) {
  .vnav-menu li a:before, .vnav-menu li a:after {
    height: 2px;
    width: 25px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .vnav-menu li a:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .vnav-menu li a:after {
    right: 0;
    bottom: -1px;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
  .vnav-menu li a:hover:before, .vnav-menu li a.active:before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%) translateY(-10px);
            transform: rotate(0deg) translateX(-50%) translateY(-10px);
  }
  .vnav-menu li a:hover:after, .vnav-menu li a.active:after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%) translateY(10px);
            transform: rotate(0deg) translateX(50%) translateY(10px);
  }
}

@media (min-width: 1025px) {
  .vnav-menu li a:before, .vnav-menu li a:after {
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
  .vnav-menu li a:before {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .vnav-menu li a:after {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .vnav-menu li a:hover:before, .vnav-menu li a.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .vnav-menu li a:hover:after, .vnav-menu li a.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.vnav-menu-btn {
  position: fixed;
  top: 35px;
  left: 35px;
  z-index: 11;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.vnav-menu-btn:after {
  left: -23px;
  top: -23px;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #66fcf1;
  z-index: 1;
  opacity: 0;
}

.vnav-menu-btn .lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 27px;
  z-index: 2;
}

.vnav-menu-btn .lines span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 6px;
  background-color: #66fcf1;
}

.vnav-menu-btn .lines span:nth-child(1) {
  top: 0;
}

.vnav-menu-btn .lines span:nth-child(2) {
  top: 11px;
}

.vnav-menu-btn .lines span:nth-child(3) {
  top: 22px;
}

.vnav-menu-btn .lines span:last-child {
  margin-bottom: 0;
}

.vnav-menu-btn .text {
  display: none;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  margin-left: 20px;
}

.vnav-menu-btn.active .lines span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.vnav-menu-btn.active .lines span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.vnav-menu-btn.active .lines span:nth-child(1), .vnav-menu-btn.active .lines span:nth-child(3) {
  top: 12px;
}

.vnav-menu-btn.active .lines span:nth-child(2) {
  opacity: 0;
}

.vnav-menu-btn.active .lines span, .vnav-menu-btn.scrolled .lines span {
  background-color: #4c4c4c;
}

.vnav-menu-btn.active .text, .vnav-menu-btn.scrolled .text {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.vnav-menu-btn.scrolled:after {
  opacity: 1;
}

.vnav-inf {
  position: absolute;
  bottom: 15px;
}

@media (max-width: 1024px) {
  .vnav-menu {
    padding: 45px 15px 15px;
  }
  .vnav-menu li {
    margin-bottom: 7.5px;
  }
  .vnav-menu li:last-child {
    margin-bottom: 0;
  }
  .vnav-menu li a {
    min-width: 165px;
  }
}

@media (min-width: 1025px) {
  .vnav {
    border-width: 15px;
  }
  .vnav-menu a {
    font-size: 28px;
  }
  .vnav-menu li {
    display: inline-block;
  }
  .vnav-menu-btn {
    top: 60px;
    left: 60px;
  }
  .vnav-menu-btn .text {
    display: inline-block;
  }
  .vnav-inf {
    bottom: 37px;
  }
}

.header {
  min-height: 50px;
  z-index: 1;
  color: #fff;
  padding: 75px 0 160px;
}

.header:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header-inner {
  width: 100%;
}

.header-logo-inner {
  max-height: 100px;
}

@media (min-width: 768px) {
  .header-logo-inner {
    max-height: 100px;
  }
}

#bird {
  fill: #66fcf1;
}

#intro, #intro li {
  width: 100%;
  height: 100%;
}

#intro {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

#intro img {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: none;
}

.footer {
  padding: 10px 15px;
  background-color: #131313;
}

.footer-b {
  vertical-align: middle;
  margin: 0 15px;
}

.transition, .vnav-menu li a, .vbtn, .vbtn:before, .vmain-form input, .vtitle-inner:before, .vtitle-inner:after, .vloading-mask, .vloop-wrap, .vloop-details, .social-block a:before, .social-block a:after, .about-block-icon i, .about-block-inner, .about-block-inner:after, .about-block-inner:before, .about-block-circle, .blog-post-header, .blog-post-image, .blog-post-number, .blog-post-title, .blog-post-details, .vtabs-list a, .vtabs-list a:after {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pseudo, .vnav-menu li a:before, .vnav-menu li a:after, .vnav-menu-btn:after, .header:after, .vbtn:before, .list li:after, .vtitle-inner:before, .vtitle-inner:after, .vline:after, .vline-big:after, .vloading-mask-inner:before, .social-block a:after, .border-right:before, .border-left:before, .about-block-inner:after, .about-block-inner:before, .blog-post-image:after, .vtabs-list a:after {
  content: "";
  position: absolute;
}

.vertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.text-small {
  font-size: 11px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.vbtn {
  border: none;
  border-radius: 3px;
  max-width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
}

.vbtn:before {
  z-index: -1;
}

@media (min-width: 480px) {
  .vbtn {
    font-size: 18px;
    padding: 30px;
  }
}

.vbtn-effect {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.vbtn-effect-skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.vbtn-effect-skew:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}

.vbtn-effect-bgtransition:before, .vbtn-effect-shutter:before, .vbtn-effect-shutter-vertical-out:before, .vbtn-effect-shutter-horizontal-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vbtn-effect-shutter-vertical-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.vbtn-effect-shutter-vertical-out:hover:before, .vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.vbtn-effect-shutter-horizontal-out:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.vbtn-effect-shutter-horizontal-out:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.vbtn-effect-bounce-top:before {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.vbtn-effect-bounce-bottom:before {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.vbtn-corp {
  background-color: #66fcf1;
}

.vbtn-corp:before {
  background-color: #b1fdf8;
}

@media (min-width: 768px) {
  .vbtn-single {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .vbtn-single {
    margin-top: 35px;
  }
}

.vmain-form {
  width: 100%;
}

@media (min-width: 768px) {
  .vmain-form-fixed {
    width: 300px;
  }
}

.vmain-form input {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  color: #000;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
}

.vmain-form input:focus {
  border-color: #66fcf1;
}

.vmain-form .vbtn {
  width: 100%;
}

.list li:after {
  top: 0;
}

.list-cancel li:after {
  width: 37px;
  height: 37px;
  background: url("../img/cancel.png") 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .list {
    text-align: center;
    margin-bottom: 30px;
  }
  .list:after {
    left: 50%;
  }
  .list-cancel li {
    padding-top: 40px;
  }
  .list-cancel li:after {
    margin-left: -18.5px;
  }
}

@media (min-width: 768px) {
  .list {
    margin-bottom: 15px;
  }
  .list:after {
    left: 0;
  }
  .list-cancel li {
    padding-left: 50px;
  }
}

.vcollapse-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.vcollapse-wrap > .vcollapse-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.vcollapse-header {
  cursor: pointer;
  padding: 15px;
  background-color: #ddd;
}

.vcollapse-inner {
  margin-bottom: 30px;
}

.vcollapse-inner.active .vcollapse-header {
  background-color: #f00;
}

.vcollapse-body {
  margin-top: 7.5px;
  display: none;
}

.h1 {
  line-height: 1.1;
  font-size: 30px;
  margin: 0 0 30px;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 100px;
  }
}

@media (min-width: 1500px) {
  .h1 {
    font-size: 130px;
  }
}

@media (min-width: 320px) {
  .h2 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .h2 {
    font-size: 30px;
  }
}

.vtitle {
  line-height: 1;
  font-size: 45px;
  margin-bottom: 60px;
}

@media (min-width: 1025px) {
  .vtitle {
    font-size: 60px;
  }
}

.vtitle-inner {
  z-index: 1;
}

.vtitle-inner:before, .vtitle-inner:after {
  top: 40%;
  background-color: #66fcf1;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: titleRotate 5s infinite;
          animation: titleRotate 5s infinite;
}

.vtitle-inner:after {
  left: -28px;
  margin-top: -1px;
  width: 90px;
  height: 2px;
}

.vtitle-inner:before {
  left: -15px;
  width: 60px;
  height: 1px;
  margin-top: -5px;
}

@-webkit-keyframes titleRotate {
  0%, 100% {
    -webkit-transform: rotate(-45deg) translateY(0);
            transform: rotate(-45deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(-45deg) translateY(5px);
            transform: rotate(-45deg) translateY(5px);
  }
}

@keyframes titleRotate {
  0%, 100% {
    -webkit-transform: rotate(-45deg) translateY(0);
            transform: rotate(-45deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(-45deg) translateY(5px);
            transform: rotate(-45deg) translateY(5px);
  }
}

@media (min-width: 1025px) {
  .vtitle {
    margin-bottom: 75px;
  }
}

.h4.s-m {
  margin-bottom: 25px;
}

.h4.b-m {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .h1 {
    margin-bottom: 60px;
  }
  .h3.m-m {
    margin-bottom: 50px;
  }
  .h3.b-m {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .h1, .h2 {
    margin: 15px 0;
  }
}

.color-corp {
  color: #66fcf1;
}

.ttu, .vtitle {
  text-transform: uppercase;
}

.tdu {
  text-decoration: underline;
}

.tdn, .vnav-menu li a, .footer a, .vbtn {
  text-decoration: none;
}

.text-center, .footer, .vtitle, .about-title {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vline, .vline-big {
  padding-bottom: 15px;
}

.vline:after, .vline-big:after {
  left: 0;
  bottom: 0;
  width: 120px;
  height: 7.5px;
  background-color: #66fcf1;
}

.vline-big:after {
  height: 5px;
  width: 80px;
}

.vline-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .vline, .vline-big {
    padding-bottom: 30px;
  }
  .vline:after, .vline-big:after {
    height: 10px;
    width: 200px;
  }
}

.vloading-mask {
  display: inline-block;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.vloading-mask-inner:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  -webkit-transition: -webkit-transform cubic-bezier(0.694, 0.048, 0.335, 1) 1.25s;
  transition: -webkit-transform cubic-bezier(0.694, 0.048, 0.335, 1) 1.25s;
  transition: transform cubic-bezier(0.694, 0.048, 0.335, 1) 1.25s;
  transition: transform cubic-bezier(0.694, 0.048, 0.335, 1) 1.25s, -webkit-transform cubic-bezier(0.694, 0.048, 0.335, 1) 1.25s;
}

.vloading-mask.active .vloading-mask-inner:before {
  opacity: 1;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.vloop {
  overflow: hidden;
  width: 100%;
  height: 215px;
}

.vloop-wrap {
  padding: 0;
}

.vloop img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform ease 5s;
  transition: -webkit-transform ease 5s;
  transition: transform ease 5s;
  transition: transform ease 5s, -webkit-transform ease 5s;
}

.vloop-image--main {
  z-index: 1;
}

.vloop-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: url("../img/icon-zoom.png"), auto;
}

.vloop-title {
  display: block;
  position: relative;
  font-size: 15px;
}

.vloop-details {
  position: absolute;
  left: 0;
  width: 100%;
}

.vloop:hover .vloop-details {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.vloop:hover .vloop-image--main {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 767px) {
  .vloop-details {
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .vloop {
    height: 250px;
  }
  .vloop img {
    max-width: none;
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 0;
  }
  .vloop-details {
    top: 0;
    height: 100%;
    padding: 30px;
    background-color: rgba(243, 243, 243, 0.8);
    opacity: 0;
    z-index: 2;
    text-align: center;
  }
  .vloop-details-inner {
    position: relative;
    height: 100%;
    border: 10px solid #66fcf1;
  }
  .vloop-title {
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 1200px) {
  .vloop {
    height: 284px;
  }
}

@media (min-width: 1500px) {
  .vloop {
    height: 305px;
  }
}

.social-block, .social-block a, .social-block a:after {
  border-radius: 100%;
}

.social-block {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #b1fdf8;
}

.social-block:not(:last-child) {
  margin-right: 15px;
}

.social-block a {
  display: block;
  height: 100%;
  z-index: 1;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}

.social-block a:before {
  display: inline-block;
  vertical-align: middle;
  color: #4c4c4c;
}

.social-block a:after {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  border: 3px solid #b1fdf8;
}

.social-block a:hover:before {
  color: #fff;
}

.social-block a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social-block a.vk:after {
  background-color: #3f7bb9;
}

.social-block a.fb:after {
  background-color: #3b5998;
}

.social-block a.google:after {
  background-color: #dd4b39;
}

.social-block a.instagram:after {
  background-color: #86603b;
}

.border, .border-right, .border-left {
  overflow: hidden;
  padding: 75px 0 160px;
}

.border:before, .border-right:before, .border-left:before {
  border: 1024px solid transparent;
  border-bottom: 75px solid #fff;
  z-index: 2;
}

@media (min-width: 1025px) {
  .border, .border-right, .border-left {
    padding-bottom: 200px;
  }
  .border:before, .border-right:before, .border-left:before {
    border: 2200px solid transparent;
    border-bottom: 160px solid #fff;
  }
}

.border-right:before, .border-left:before {
  bottom: -2px;
}

.border-right:before {
  right: 0;
  border-right: 0px solid #fff;
}

.border-left:before {
  left: 0;
  border-left: 0px solid #fff;
}

.about-wrap {
  padding-top: 90px;
}

.about-title {
  margin: 0 auto 30px;
  padding: 30px 15px;
  border: 15px solid #f3f3f3;
  color: #333333;
}

.about-block {
  text-align: center;
}

.about-block-icon {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 30px;
}

.about-block-inner {
  position: relative;
  padding: 30px;
  border: 2px solid #f3f3f3;
}

.about-block-inner:after, .about-block-inner:before {
  top: -62px;
  background-color: #f3f3f3;
}

.about-block-inner:before {
  left: 50%;
  height: 60px;
  width: 2px;
  margin-left: -1px;
}

.about-block-inner:after {
  left: 0;
  width: 100%;
  height: 2px;
}

.about-block-circle {
  top: -75px;
  right: -34px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  z-index: 1;
}

.about-block:first-child .about-block-inner:after,
.about-block:last-child .about-block-inner:after {
  width: 50%;
}

.about-block:first-child .about-block-inner:after {
  left: auto;
  right: 0;
}

.about-block:hover .about-block-inner {
  border-color: #66fcf1;
}

.about-block:hover .about-block-icon i {
  color: #66fcf1;
}

.about-line {
  margin-left: -1px;
  top: -36px;
  left: 50%;
  height: 60px;
  width: 2px;
}

.about-block-circle, .about-line {
  position: absolute;
  background-color: #f3f3f3;
}

@media (min-width: 768px) {
  .about-title {
    width: 500px;
    font-size: 20px;
    padding: 30px 60px;
  }
}

@media (max-width: 1024px) {
  .about-block {
    margin-bottom: 60px;
  }
  .about-block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .about-block:nth-child(2) .about-block-circle,
  .about-block:nth-child(3) .about-block-circle,
  .about-block:nth-child(3) .about-block-inner:after,
  .about-block:nth-child(4) .about-block-inner:after {
    display: none;
  }
  .about-block:nth-child(2) .about-block-inner:after {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .about-wrap {
    padding-top: 23px;
  }
  .about-block-inner {
    margin-left: -15px;
    margin-right: -15px;
  }
  .about-block-circle, .about-block-inner:after {
    display: none;
  }
  .about-block:nth-child(1) .about-block-inner:before {
    display: none;
  }
}

.blog-post-image, .blog-post-image:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blog-post {
  position: relative;
  overflow: hidden;
}

.blog-post a {
  color: inherit;
  text-decoration: none;
}

.blog-post-row {
  margin-top: 60px;
  margin-bottom: 60px;
}

.blog-post-header {
  line-height: 1;
}

.blog-post-image {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.blog-post-image:after {
  background-color: rgba(0, 0, 0, 0.75);
}

.blog-post-number {
  display: block;
  width: 67px;
  height: 64px;
  padding: 11px 15px;
  font-size: 30px;
  text-align: center;
  background-color: #66fcf1;
  color: #fff;
}

.blog-post-title {
  margin-top: 15px;
}

.blog-post-details {
  z-index: 2;
}

.blog-post-details:before {
  left: 0;
  top: 0;
  width: 45%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-post:hover .blog-post-image {
  opacity: 0.8;
}

.blog-post:hover .blog-post-header {
  color: #fff;
}

.blog-post:hover .blog-post-number {
  color: #4c4c4c;
}

.blog-post:hover .blog-post-title {
  color: #66fcf1;
}

@media (max-width: 767px) {
  .blog-post-image img {
    max-width: 270%;
  }
}

@media (min-width: 768px) {
  .blog-post-image img {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .blog:hover .blog-details {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .blog-post-row {
    margin-top: 110px;
    margin-bottom: 110px;
  }
  .blog-post-title {
    font-size: 21px;
  }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-clock-o:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fade, .vmodal-dialog {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.fade {
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.vmodal, .vmodal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.vmodal {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.vmodal-open .vmodal {
  overflow-x: hidden;
  overflow-y: auto;
}

.vmodal-dialog {
  position: relative;
  width: 100%;
  margin: 70px auto;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
  opacity: 0;
  -webkit-transform: scale(0.7) translate(0, -150%);
          transform: scale(0.7) translate(0, -150%);
}

.vmodal.in .vmodal-dialog {
  opacity: 1;
  -webkit-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
}

.vmodal-backdrop {
  z-index: 1000;
  background-color: #000000;
}

.vmodal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.vmodal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.vmodal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.vmodal-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

.vmodal-transparent .vmodal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.vmodal-transparent .vmodal-close {
  color: #fff;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-close {
    top: -15px;
    right: -85px;
    font-size: 80px;
  }
}

.vmodal-header, .vmodal-body, .vmodal-footer {
  padding: 15px;
  position: relative;
}

.vmodal-header:after, .vmodal-header:before, .vmodal-body:after, .vmodal-body:before, .vmodal-footer:after, .vmodal-footer:before {
  content: "";
  display: table;
}

.vmodal-header:after, .vmodal-body:after, .vmodal-footer:after {
  clear: both;
}

.vmodal-text .vmodal-header {
  background-color: #e8e8e8;
}

.vmodal-text .vmodal-body {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
}

.vmodal-body {
  font-size: 15px;
}

.vmodal-body-inner {
  height: 350px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 6px;
}

.vmodal-body-inner p {
  margin-bottom: 15px;
}

.vmodal-body-inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .vmodal-body-inner {
    padding: 0 30px;
    height: 400px;
  }
}

.vmodal-close {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: right;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.vmodal-title {
  text-align: center;
}

.vmodal-title-text {
  text-align: center;
  padding: 5px;
  background-color: #4c4c4c;
  margin-top: 25px;
}

.vmodal ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .vmodal-dialog {
    width: 400px;
  }
  .vmodal-dialog.big {
    width: 600px;
    margin: 30px auto;
  }
  .vmodal-content {
    border-radius: 6px;
  }
}

.visible {
  visibility: visible;
}

.vtabs-links {
  margin-bottom: 45px;
  text-align: center;
}

.vtabs-list {
  display: inline-block;
  font-size: 0;
}

.vtabs-list a {
  display: block;
  min-width: 150px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.vtabs-list a:after {
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(-7.5px);
          transform: translateY(-7.5px);
}

.vtabs-list li {
  display: block;
}

.vtabs-list a:hover, .vtabs-list li.active a {
  color: #66fcf1;
}

.vtabs-list a:hover:after, .vtabs-list li.active a:after {
  background-color: #b1fdf8;
  -webkit-transform: none;
          transform: none;
}

.vtabs-content-inner {
  display: none;
}

.vtabs-content-inner.active {
  display: block;
}

@media (min-width: 768px) {
  .vtabs-list {
    padding-bottom: 10px;
    border-bottom: 5px solid #f3f3f3;
  }
  .vtabs-list li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .vtabs-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
