.transition{
  @include transitionMake();
}
.pseudo{
  @include pseudo();
}
.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
@media (min-width: 1200px) and (min-height: 600px){
  .vertical-text-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
  }
}