doctype html
html(lang="ru")
	head
		title Portfolio
		meta(name="description" content="")
		include includes/header/head
		include includes/mixins/mixins
	body
		include includes/nav/nav
		main.main-wrapper
			header.header.border-right.target.text-center.vsection-full#home
				.vcontainer.vertical-text-center
					.cf
						.header-logo
							img(src="img/logo.png" alt="")
					.cf
						.vloading-mask
							h1.h1.vline.vline-big.vline-big-center.vloading-mask-inner KitchenOfDesign
					.cf
						.vloading-mask
							h2.h2.vloading-mask-inner The place where the idea can preparing
			section.vsection.vsection-full.target#about
				.vcontainer.vertical-text-center
					h3.h3
						span.vtitle-inner Who am <span class="color-corp">I</span>?
					h4.h4.vtitle-small.light Hello, I'm Vsevolod Kurochka. Frontend Developer from Ukraine.<br>I have been crafting beautiful websites and making clients happy!
					.cf.about-wrap
						span.about-line
						.cf
							+about("fa fa-heart-o", "circle") I'm responsible
							+about("fa fa-flag", "circle") I'm creative
							+about("fa fa-clock-o", "circle") I'm punctual
							+about("fa fa-comments-o") I'm friendly
			section.vsection.vsection-full.target#portfolio
				.vcontainer
					.vrow
						h3.h3
							span.vtitle-inner Portfolio
						.vtabs-wrap
							.vtabs-links
								ul.vtabs-list
									+tabItem("#vtab1", "active") Development
									+tabItem("#vtab2") Wordpress
									+tabItem("#vtab3") Responsive
							.vtabs-content.padding-content
								.cf.vtabs-content-inner.active#vtab1
									+loop("img/free-business-plan-templates.jpg") Role owners in Marketing Management and Sales?
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/free-business-plan-templates.jpg") Business on Amazon.com
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/free-business-plan-templates.jpg") Business on Amazon.com
									+loop("img/trand.jpg") Liftmarketing
								.cf.vtabs-content-inner#vtab2
									+loop("img/free-business-plan-templates.jpg") Role owners in Marketing Management and Sales?
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/free-business-plan-templates.jpg") Business on Amazon.com
								.cf.vtabs-content-inner#vtab3
									+loop("img/free-business-plan-templates.jpg") Role owners in Marketing Management and Sales?
									+loop("img/trand.jpg") Liftmarketing
		// MODAL FORM
		.vmodal.fade#modalform
			.vmodal-dialog
				.vmodal-header
					button(type="button" class="vmodal-close" data-close="vmodal") &times;
					p.vmodal-title Заголовок_формы
					p.vmodal-p Текст_формы
				.vmodal-body
					form(action="" class="vmain-form")
						input(type="text" placeholder="Имя")
						input(type="email" placeholder="E-mail")
						input(type="text" placeholder="Телефон")
						button.vbtn.vbtn-effect-bounce-top.vbtn-corp Получить!
				.vmodal-footer.text-center
					p.text_smaller *Ваши данные <span class="bold">никогда не будут</span><br>переданы 3-м лицам
		//button(class="vbtn vbtn-effect-shutter-vertical-out vbtn-corp" data-modal="vmodal" data-modal-target="#modalform") Забронировать место в онлайн группе