doctype html
html(lang="ru")
	head
		title Portfolio
		meta(name="description" content="")
		include includes/mixins/mixins
		include includes/header/head
	body
		include includes/nav/nav
		main.main-wrapper
			header.header.fluid.fluid-center.border-right.text-center.target#home
				ul#intro
					li.layer.background(data-depth="0.4")
						img(src="img/header.png")
				.header-inner.relative.index-1
					.header-logo
						a(href='#'): include includes/header/logo
					.header-text
						.cf.header-name
							.vloading-mask
								h1.h1.vline-big.vline-center.vloading-mask-inner KitchenOfDesign
						.cf.header-tagline
							.vloading-mask
								h2.h2.vloading-mask-inner The place where the idea can preparing
			section.vsection.fluid.fluid-center.target#about
				.vcontainer
					+title Who am <span class="color-corp">I</span>?
					h4.about-title Hello, I'm Vsevolod Kurochka. Frontend Developer from Ukraine.<br>I have been crafting beautiful websites and making clients happy!
					.cf.about-wrap
						span.about-line
						.cf
							+about("fa fa-heart-o", "circle") I'm responsible
							+about("fa fa-flag", "circle") I'm creative
							+about("fa fa-clock-o", "circle") I'm punctual
							+about("fa fa-comments-o") I'm friendly
			section.vsection.target#portfolio
				.vcontainer.vcontainer-small
					.vrow
						+title Portfolio
						.vtabs-wrap
							.vtabs-links
								ul.vtabs-list
									+tabItem("#vtab1", "active") All
									+tabItem("#vtab2") Wordpress
									+tabItem("#vtab3") Responsive
							.vtabs-content.padding-content
								.cf.vtabs-content-inner.active#vtab1
									+loop("img/business.jpg") Role owners in Marketing Management and Sales?
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/business.jpg") Business on Amazon.com
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/business.jpg") Business on Amazon.com
									+loop("img/trand.jpg") Liftmarketing
								.cf.vtabs-content-inner#vtab2
									+loop("img/trand.jpg") Liftmarketing
									+loop("img/business.jpg") Business on Amazon.com
									+loop("img/business.jpg") Role owners in Marketing Management and Sales?
								.cf.vtabs-content-inner#vtab3
									+loop("img/business.jpg") Role owners in Marketing Management and Sales?
									+loop("img/trand.jpg") Liftmarketing
			section.vsection.target#blog
				+title RECENT BLOG
				.cf
					+post("http://wpdemos.themezaa.com/brando/agency/wp-content/uploads/2016/02/blog-post-img1.jpg", "01", "14 01 2017", "DESIGN IS NOT JUST WHAT IT LOOKS LIKE AND FEELS LIKE.")
					+post("http://www.hdbloggers.net/wp-content/uploads/2016/06/Space-Wallpaper-Nebula.jpg", "02", "11 01 2017", "A LOT OF CARE, EFFORT & PASSION GOES INTO OUR WORK.")
		// MODAL FORM
		.vmodal.fade#modalform
			.vmodal-dialog
				.vmodal-header
					button(type="button" class="vmodal-close" data-close="vmodal") &times;
					p.vmodal-title Заголовок_формы
					p.vmodal-p Текст_формы
				.vmodal-body
					form(action="" class="vmain-form")
						input(type="text" placeholder="Имя")
						input(type="email" placeholder="E-mail")
						input(type="text" placeholder="Телефон")
						button.vbtn.vbtn-effect-bounce-top.vbtn-corp Получить!
				.vmodal-footer.text-center.text-small
					p *Ваши данные <span class="bold">никогда не будут</span><br>переданы 3-м лицам
		//- button(class="vbtn vbtn-effect-shutter-vertical-out vbtn-corp" data-modal="vmodal" data-modal-target="#modalform") Забронировать место в онлайн группе
		script.
			var intro = document.getElementById('intro');
			var parallax = new Parallax(intro);