@include resp-min(md){
  .main{
    // &-navigation{
    //   position: fixed;
    //   left: 0;
    //   top: 0;
    //   width: 20%;
    //   height: 100%;
    //   padding-top: 15px;
    //   padding-bottom: 15px;
    //   background-color: setColor(corp);
    //   z-index: 1;
    // }
    // &-wrapper{
    //   float: right;
    //   width: 80%;
    // }
  }
}
.main{
  &-navigation{

  }
  &-wrapper{
    @extend .relative;
    // &:before{
    //   @extend .pseudo;
    //   left: 50%;
    //   top: 0;
    //   width: 1px;
    //   margin-left: -0.5px;
    //   height: 100%;
    //   background-color: #000;
    //   z-index: 10;
    // }
  }
}
.vline{
  @extend .relative;
  padding-bottom: getComp(gutter);
  &:after{
    @extend .pseudo;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 7.5px;
    background-color: setColor(corp);
  }
  &-big{
    &:after{
      height: 5px;
      width: 80px;
    } 
    &-center:after{
      left: 50%;
      margin-left: -40px;
    }
  }
  @include resp-min(sm){
    padding-bottom: getComp(gutter) * 2;
    &:after{
      height: 10px;
      width: 200px;
    }
    &-big-center:after{
      margin-left: -100px;
    }
  }
}
.vtitle{
  &-small{
    @extend .text-center;
    margin: 0 auto 30px;
    padding: 30px 15px;
    border: 15px solid $about();
    color: setColor(black, dark);
  }
  &-inner{
    @extend .relative;
    z-index: 1;
    &:before,
    &:after{
      @extend .pseudo;
      @extend .transition;
      top: 40%;
      background-color: setColor(corp);
      z-index: -1;
      transform: rotate(-45deg);
      animation: titleRotate 5s infinite;
    }
    &:after{
      left: -28px;
      margin-top: -1px;
      width: 90px;
      height: 2px;    
    }
    &:before{
      left: -15px;
      width: 60px;
      height: 1px;
      margin-top: -5px;
    }
    @at-root{
      @keyframes titleRotate{
        0%,100%{
          transform: rotate(-45deg) translateY(0);
        }
        50%{
          transform: rotate(-45deg) translateY(5px);
        }
      }
    }
  }
  @include resp-min(sm){
    &-small{
      width: 500px;
      font-size: 20px;
      padding: 30px 60px;
    }
  }
}
.vloading-mask{
  display: inline-block;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  @extend .relative;
  @extend .transition;
  &-inner{
    &:before{
      @extend .pseudo;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 1;
      opacity: 0;
      transform: translateX(-105%);
      @include transitionMake(transform, cubic-bezier(.694,.048,.335,1), 1.25s);
    }
  }
  &.active &-inner{ 
    &:before{
      opacity: 1;
      transform: translateX(110%);
    }
  }
}
.vtabs{
  &-wrap,
  &-links,
  &-content{
    @extend .cf;
  }
  &-links{
    margin-bottom: getComp(gutter) * 3;
    text-align: center;
  }
  &-list{
    display: inline-block;
    font-size: 0;
    a{
      display: block;
      min-width: 150px;
      @extend .relative;
      padding: 10px;
      background-color: transparent;
      text-decoration: none;
      color: inherit;     
      font-size: 18px;
      @extend .transition;
      &:after{
        @extend .pseudo;
        left: 0;
        bottom: -15px;
        width: 100%;
        height: 5px;
        opacity: 1;
        transform: translateY(-7.5px);
        @extend .transition;
      }
      &:hover{
        @extend %effectTab;
      }
    }
    li{
      display: block;
      &.active{
        a{
          @extend %effectTab;
        }
      }
    }
    %effectTab{
      color: setColor(corp);
      &:after{
        background-color: setColor(corp, light);
        transform: none;
      }
    } 
  }
  &-content{
    &-inner{
      display: none;
      &.active{
        display: block;
      }
    }
  }
  @include resp-min(sm){
    &-list{
      padding-bottom: 10px;
      border-bottom: 5px solid setColor(black, light);
      li{
        display: inline-block;
      }
    }
  }
  @include resp-max(sm){
    &-list{
      li:not(:last-child){
        margin-bottom: 30px;
      }
    }
  }
}
.vloop{
  @extend .relative;

  overflow: hidden;
  width: 100%;
  height: 215px;
  // &:before{
  //   @extend .pseudo;
  //   @extend .transition;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0;
  //   visibility: hidden;
  //   z-index: 2;
  //   background: linear-gradient(to left, #44A08D , #093637);
  //   background-color: #f3f3f3;
  // }
  &-wrap{
    padding: 0;
    @extend .transition;
  }
  img{
    display: block;
    width: 100%;   
    height: 100%;
    @include transitionMake(transform, ease, 5s);
  }
  &-image{
    &--main{
      z-index: 1;
    }
    // &--hover{
    //   z-index: 1;
    //   transform: translateY(100%);
    // }
  }
  &-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: url('../img/icon-zoom.png'), auto;
  }
  &-title{
    display: block;
    position: relative;
    font-size: 15px;
  }
  &-details{
    @extend .bold;
    @extend .transition;
    position: absolute;
    left: 0;
    width: 100%;
  }
  &:hover &-details{
    opacity: 1;
    transform: none;
  } 
  // &:hover{
  //   &:before{
  //     opacity: 0.9;
  //     visibility: visible;
  //   }
  // }
  &:hover &-image{
    &--main{
      transform: scale(1.3);
    }
    // &--hover{
    //   transform: translateY(0) scale(1.3);
    // }
  }
  @include resp-max(sm){
    &-details{

      bottom: 0;
      background-color: transparentize(setColor(light), 0.15);
      padding: 15px;
    }
  }
  @include resp-min(sm){
    height: 250px;
    img{
      max-width: none;
      width: 600px;
      position: absolute;
      left: 50%;
      margin-left: -300px;
      top: 0;
    }
    &-details{
      top: 0;
      height: 100%;
      padding: 30px;
      background-color: transparentize(setColor(black,light), 0.2);
      opacity: 0;
      z-index: 2;
      text-align: center;
      &-inner{
        position: relative;
        height: 100%;
        border: 10px solid setColor(corp);
      }
    }
    &-title{
      font-size: 17px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include resp-min(lg){
    height: 284px;
  }
  @include resp-min(bigLg){
    height: 305px;
  }
}
%borderR100{
  border-radius: 100%;
}
.social-block{
  @extend %borderR100;
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: setColor(corp, light);
  &:not(:last-child){
    margin-right: 15px;
  }
  a{
    @extend .relative;
    display: block;
    height: 100%;
    z-index: 1;
    text-decoration: none;  
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 40px;    
    @extend %borderR100;
    &:before{
      display: inline-block;
      vertical-align: middle;
      color: setColor(black);
      @extend .transition;
    }
    &:after{
      @extend .pseudo;
      @extend %borderR100;
      @extend .transition;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      transform: scale(0);
      border: 3px solid setColor(corp, light);
    }
    &:hover{
      &:before{
        color: setColor(light);
      }
      &:after{
        opacity: 1;
        transform: scale(1);
      }
    }
    &.vk{
      &:after{
        background-color: #3f7bb9;
      } 
    }
    &.fb{
      &:after{
        background-color: #3b5998;
      } 
    }
    &.google{
      &:after{
        background-color: #dd4b39;
      } 
    }
    &.inst{
      &:after{
        background-color: #86603b;
      } 
    }
  }
}
.border{
  overflow: hidden;
  padding: 75px 0 160px;

  &:before{
    border: 1024px solid transparent;
    border-bottom: 75px solid #fff;
    z-index: 2;
  }
  @include resp-min(md){
    padding-bottom: 200px;
    &:before{
      border: 2200px solid transparent;
      border-bottom: 160px solid #fff;
    }
  }
  &-right,
  &-left{
    @extend .border;
    &:before{
      @extend .pseudo;
      bottom: -2px;
    }
  }
  &-right{
    @extend .border;
    &:before{    
      right: 0;
      border-right: 0px solid #fff;
    }
  }
  &-left{
    @extend .border;
    &:before{
      left: 0;
      border-left: 0px solid #fff;
    }
  }
}
.about{
  &-wrap{
    padding-top: 90px;
  }
  &-block{
    text-align: center;  
    &-icon{
      font-size: 50px;
      line-height: 1;
      margin-bottom: 30px;
      i{
        @extend .transition;
      }
    }
    &-inner{
      position: relative;
      padding: 30px;
      border: 2px solid $about;
      @extend .transition;
      &:after,
      &:before{
        @extend .pseudo;
        @extend .transition;
        top: -62px;
        background-color: $about;
      }
      &:before{
        left: 50%;
        height: 60px;
        width: 2px;
        margin-left: -1px;
      }
      &:after{
        left: 0;
        width: 100%;
        height: 2px;
      }
    }
    &-circle{
      top: -75px;
      right: -34px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      z-index: 1;
      @extend .transition;
    }

    // &-line{
    //   width: 60px;
    //   height: 2px;
    //   background-color: #000;
    //   position: absolute;
    //   left: -2px;
    //   top: -2px;
    //   @extend .transition;
    // }
    &:first-child &-inner:after,
    &:last-child &-inner:after{
      width: 50%;
    }
    &:first-child &-inner:after{
      left: auto;
      right: 0;
    }
    &:hover &-inner{
      border-color: setColor(corp);
    }
    &:hover &-icon i{
      color: setColor(corp);
    }
  }
  &-line{
    margin-left: -1px;
    top: -36px;
    left: 50%;
    height: 60px;
    width: 2px;
  }
  &-block-circle,
  &-line{
    position: absolute;
    background-color: $about;
  }
  @include resp-max(md){
    &-block{
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @include resp-min(sm){
      &-block{
        &:nth-child(2) &-circle,
        &:nth-child(3) &-circle,
        &:nth-child(3) &-inner:after,
        &:nth-child(4) &-inner:after{
          display: none;
        }
        &:nth-child(2) &-inner:after{
          width: 50%;
        }
      }
    }
  }
  @include resp-max(sm){
    &-wrap{
      padding-top: 23px;
    }
    &-block{
      &-inner{
        margin-left: -15px;
        margin-right: -15px;
      }
      &-circle,
      &-inner:after{
        display: none;
      }
      &:nth-child(1) &-inner:before{
        display: none;
      }
    }
  }
}
@include resp-min(bigLg){
  .padding-content{
    padding-left: getComp(gutter) * 7;
    padding-right: getComp(gutter) * 7;
  }
}
%blog-fluid{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blog{
  &-post{   
    &-header{
      @extend .transition;
      line-height: 1;
    } 
    &-image{
      position: absolute;
      z-index: 1;
      opacity: 0;
      @extend %blog-fluid;
      @extend .transition;
      img{
        width: 100%;
      }
      &:after{
        background-color: rgba(0, 0, 0, 0.75);
        @extend .pseudo;
        @extend %blog-fluid;
      }
    }
    &-number{
      display: block;
      width: 100%;
      padding: 11px 15px;
      font-size: 30px;
      text-align: center;
      background-color: setColor(corp);
      color: setColor(light);
      @extend .bold;
      @extend .transition;
    }
    &-title{
      margin-top: 15px;
      @extend .transition;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
    &-details{
      z-index: 2;
      @extend .transition;
      &:before{
        left: 0;
        top: 0;
        width: 45%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
    }
    &-wrap{
      position: relative;
      overflow: hidden;
    }
    &-wrap:hover &-image{
      opacity: 0.8;
    }
    &-wrap:hover &-header{
      color: setColor(light);
    }
    &-wrap:hover &-number{
      color: setColor(black);
    }
    &-wrap:hover &-title{
      color: setColor(corp);
    }
    &-wrap:hover &-details{
      transform: translateX(50px);
    }
  }
  @include resp-min(md){
    &-post{
      &-row{
        margin-top: 110px;
        margin-bottom: 110px;
      }
      &-title{
        font-size: 21px;
      }
    }
  }
}