$h1-font-sizes: (
  xs:   48px,
  sm:   80px,
  lg:   100px,
  bigLg: 130px
);
$h2-font-sizes: (
  exs:  17px,
  sm:   30px
);
$h3-font-sizes: (
  md:   60px
);
.h1{
  @include font-size($h1-font-sizes);
  line-height: 1.1;
  font-size: 30px;
  margin: 0 0 30px;
  @extend .bold;
}
.h2{
  @include font-size($h2-font-sizes);
  @extend .thin;
}
.h3{
  @include font-size($h3-font-sizes);
  @extend .text-center;
  line-height: 1;
  font-size: 45px;
  margin-bottom: 45px;
}
.h{
  &4{
    //color: #272727;
    &.s-m{
      margin-bottom: 25px;
    }
    &.b-m{
      margin-bottom: 40px;
    }
  }
}
@include resp-min(sm){
  .h1{
    margin-bottom: 60px;
  }
  .h3{
    &.m-m{
      margin-bottom: 50px;
    }
    &.b-m{
      margin-bottom: 70px;
    }
  }
}
@include resp-max(sm){
  .h{
    &1,
    &2{
      margin: 15px 0;
    }
  }
}
//$sizes in _config.scss
.color{
  &-corp{
    color: setColor(corp);
  }
}
.t{
  &tu{
    text-transform: uppercase;
  }
  &du{
    text-decoration: underline;
  }
  &dn{
    text-decoration: none;
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
// @each $br-name, $br-value in $breakpoints{
//   @include resp-max($br-name){
//     .max-#{$br-name}-center{
//       text-align: center;
//     }
//   }
//   @include resp-min($br-name){
//     .min-#{$br-name}-right{
//       text-align: right;
//     }
//   }
// }