include ../mixins/mixins
button(type="button" class="vnav-menu-btn js-toggle-menu" data-menu=".vnav-menu")
  span.lines
    span
    span
    span
  span.text Menu
nav.vnav
  ul.vnav-menu
    +navItem("#home") Home
    +navItem("#about") About Me
    +navItem("#portfolio") Portfolio
    +navItem("#blog") Blog
    +navItem("#sec5") Contacts
  .vnav-inf
    +social("#", "fa fa-vk vk")
    +social("#", "fa fa-facebook facebook")
    +social("#", "fa fa-google google")
    +social("#", "fa fa-instagram instagram")