include ../mixins/mixins
button(type="button" class="vnav-menu-btn js-toggle-menu" data-menu=".vnav-menu")
  span.lines
    span
    span
    span
  span.text Menu
nav.vnav
  .vnav-inner
    //- .vnav-logo
    //-   .block-inline.vvisible-md.vvisible-lg
    //-     a(href="#")
    //-       img(src="img/logo.png" alt="")
    .vnav-menu
      ul
        +item("#home") Home
        +item("#about") About Me
        +item("#portfolio") Portfolio
        +item("#sec4") Blog
        +item("#sec5") Contacts
    .vnav-inf
      .social-block
        a(href="#" class="vk fa fa-vk")
      .social-block
        a(href="#" class="fb fa fa-facebook")
      .social-block
        a(href="#" class="google fa fa-google")
      .social-block
        a(href="#" class="inst fa fa-instagram")