@include resp-min(md){
  .main{
    &-navigation{
      position: fixed;
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: setColor(corp);
      z-index: 1;
    }
    &-wrapper{
      float: right;
      width: 80%;
    }
  }
}
@include resp-max(md){
  .main{
    &-wrapper{
      margin-top: 56px;
    }
  }
}

//LINE
.vline{
  position: relative;
  padding-bottom: 10px;

  &:after{
    @extend .pseudo;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 7.5px;
    background-color: setColor(corp);
  }
  &-big{
    &:after{
      height: 5px;
      width: 80px;
    } 
  }
  @include resp-min(sm){
    padding-bottom: 20px;
    &:after{
      height: 10px;
      width: 200px;
    }
  }
}