@include resp-min(md){
  .main{
    &-navigation{
      position: fixed;
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      padding: 15px;
      background-color: #f0f0f0;
      z-index: 1;
    }
    &-wrapper{
      float: right;
      width: 80%;
    }
  }
}