//SETTING FOR DEFAULT FONT
$corp: #006f70;
$colors: (
	black: (
		base 	: #000,
		light : #f3f3f3,
		dark	: #333333
	),
	green: (
		base 	: #5bb85d
	),
 	corp: (
		base	: $corp,
		light : lighten($corp, 15%)
 	),
 	light: (
		base  : #fff
 	)
);

$breakpoints: (
	bigLg: 1500px,
  lg:   1200px,
  md:   1025px,
  sm:   768px,
  xs:   480px,
  exs:  320px
);

$grid-system: (
	columns 							: 12,
	flex                  : false,
	columnName            : "vak",
	width 								: 100%,
	gutter 								: 15px,
	container 						: 1170px,
	containerSmall 				: 970px,
	menuExists            : true,
	menuViewBreakpoint    : map-get($breakpoints, md)
);