$h1-font-sizes: (
  xs:   48px,
  sm:   80px,
  lg:   100px,
  bigLg: 130px
);
$h2-font-sizes: (
  exs:  17px,
  sm:   30px
);
$vtitle: (
  md:   60px
);
.h1{
  @include font-size($h1-font-sizes);
  line-height: 1.1;
  font-size: 30px;
  margin: 0 0 30px;
  @extend .bold;
}
.h2{
  @include font-size($h2-font-sizes);
  @extend .thin;
}
.vtitle{
  @include font-size($vtitle);
  @extend .text-center;
  @extend .ttu;
  @extend .light;
  line-height: 1;
  font-size: 45px;
  margin-bottom: 60px;
  &-inner{
    @extend .relative;
    z-index: 1;
    &:before,
    &:after{
      @extend .pseudo;
      @extend .transition;
      top: 40%;
      background-color: setColor(corp);
      z-index: -1;
      transform: rotate(-45deg);
      animation: titleRotate 5s infinite;
    }
    &:after{
      left: -28px;
      margin-top: -1px;
      width: 90px;
      height: 2px;    
    }
    &:before{
      left: -15px;
      width: 60px;
      height: 1px;
      margin-top: -5px;
    }
    @at-root{
      @keyframes titleRotate{
        0%,100%{
          transform: rotate(-45deg) translateY(0);
        }
        50%{
          transform: rotate(-45deg) translateY(5px);
        }
      }
    }
  }
}
@include resp-min(md){
  .vtitle{
    margin-bottom: 75px;
  }
}
.h4{
  &.s-m{
    margin-bottom: 25px;
  }
  &.b-m{
    margin-bottom: 40px;
  }
}
@include resp-min(sm){
  .h1{
    margin-bottom: 60px;
  }
  .h3{
    &.m-m{
      margin-bottom: 50px;
    }
    &.b-m{
      margin-bottom: 70px;
    }
  }
}

@include resp-max(sm){
  .h{
    &1,
    &2{
      margin: 15px 0;
    }
  }
}
.color{
  &-corp{
    color: setColor(corp);
  }
}
.t{
  &tu{
    text-transform: uppercase;
  }
  &du{
    text-decoration: underline;
  }
  &dn{
    text-decoration: none;
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
// @each $br-name, $br-value in $breakpoints{
//   @include resp-max($br-name){
//     .max-#{$br-name}-center{
//       text-align: center;
//     }
//   }
//   @include resp-min($br-name){
//     .min-#{$br-name}-right{
//       text-align: right;
//     }
//   }
// }