.header {
	@extend .relative;
	min-height: 50px;
	z-index: 1;
	color: #fff;
	padding: 75px 0 160px;
	&:after{
		@extend .pseudo;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		z-index: 1;
	}
	&-inner{
		width: 100%;
	}
	&-logo{
		&-inner{
			max-height: 100px;
		}
	}
	@include resp-min(sm){
		&-logo{
			&-inner{
				max-height: 100px;
			}
		}
	}
	// @include resp-min(md){
	// 	padding: 125px 0 250px;
	// }
	// @include resp-min(lg){
	// 	padding: 250px 0;
	// }
}
#bird{
	fill: setColor(corp);
}
%fluidParallax{
	width: 100%;
	height: 100%;
}
#intro{
	position: absolute;
	left: 0;
	top: 0;	
	overflow: hidden;
	@extend %fluidParallax;
	img{
		position: absolute;
		width: 110%;
		height: 110%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: none;
	}
	li{
		@extend %fluidParallax;
	}
}